{% if session.username %}
<p>You've logged in under: {{ session.username }}</p>
<a href="/logout">Logout</a>

<p>Account fund performance:</p>
{% if funds %}
    <ul>
    {% for fund in funds %}
        <li>{{ fund[0] }}: {{ fund[1] }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No funds available.</p>
{% endif %}
To deposit more money <a href="/deposit">here</a>
{% else %}
<form action="/login" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password"></p>
<input type="submit" value="Login">
</form>
If you don't have an account you can create one <a href="/register">here</a>
{% endif %}