{% if session.username %}
<p>You've logged in under: {{ session.username }}</p>
<a href="/logout">Logout</a>
<form action="/invest" method="POST">
<p>Account fund performance:<br>
</p> ADD LATER</p>
To deposit more money <a href="/deposit">here</a>
{% else %}
<form action="/login" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password"></p>
<input type="submit" value="Login">
</form>
If you don't have an account you can create one <a href="/register">here</a>
{% endif %}