<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Withdraw</title>
</head>
<body>
<h1>Withdraw</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class="flashes">
{% for category, message in messages %}
<li class="{{ category }}">{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}

<form action="/withdraw" method="post">
<p>
<label for="fund">Choose Fund:</label>
<select id="fund" name="fund" required>
{% for fund in funds %}
<option value="{{ fund.fund_name }}">{{ fund.fund_name }} (Withdrawable: {{ fund.SUM }}€)</option>
{% endfor %}
</select>
<p>
<label for="amount">Withdraw amount:</label>
<input type="text" id="amount" name="amount" required>
<p></p>
<input type="submit" value="Withdraw">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<p><a href="/">Back to main page</a></p>
</body>
</html>